/* _content/MUnique.OpenMU.Web.Map/Components/LiveMap.razor.rz.scp.css */
.livemap-target[b-529g2ljdiv] {
    width: auto;
}
/* _content/MUnique.OpenMU.Web.Map/Components/Map.razor.rz.scp.css */
.livemap[b-kmv88fp1lx] {
    display: grid;
    grid-template-columns: auto 250px;
}
