@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';
@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';
@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.25o87uqmvr.bundle.scp.css';
@import '_content/MUnique.OpenMU.Web.AdminPanel/MUnique.OpenMU.Web.AdminPanel.g2g5ot6edo.bundle.scp.css';
@import '_content/MUnique.OpenMU.Web.ItemEditor/MUnique.OpenMU.Web.ItemEditor.b73ksccjc7.bundle.scp.css';
@import '_content/MUnique.OpenMU.Web.Map/MUnique.OpenMU.Web.Map.z1lc8sj7lt.bundle.scp.css';

