version: '3'

services:
  nginx-80:
    image: nginx:alpine
    container_name: nginx-80
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
      - ./.htpasswd:/etc/nginx/.htpasswd
    depends_on:
      - openmu-startup

  openmu-startup:
    image: mcr.microsoft.com/dotnet/aspnet:9.0-alpine
    container_name: openmu-startup
    ports:
      - "8080"
      - "45901:55901"
      - "45902:55902"
      - "45903:55903"
      - "45904:55904"
      - "45905:55905"
      - "45906:55906"
      - "34405:44405"
      - "34406:44406"
      - "45980:55980"
    environment:
      DB_HOST: database
      ASPNETCORE_URLS: http://+:8080
    working_dir: /app/
    volumes:
      - ./app:/app:ro
      - ./.htpasswd:/etc/nginx/.htpasswd
    command: ["dotnet", "MUnique.OpenMU.Startup.dll", "-autostart"]
    depends_on:
      - database

  database:
    image: postgres:16-alpine
    container_name: database
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: openmu
      POSTGRES_USER: postgres
    ports:
      - "5432"
    volumes:
      - dbdata:/var/lib/postgresql/data #store data on volume

volumes:
  dbdata: